:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f3f3f3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* biil style */
.menuitem-paper {
  width: 300px;
  height: 200px;
  background-color: rgba(229, 227, 227, 0.364);
  padding: 8px;
  height: 300px;
  border-radius: 16px 16px 16px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid wheat;
  backdrop-filter: blur(100px);
  /* transform: matrix(-1,-0.3, -0.1, 1 , 0.7, 0.9); */
  box-shadow: 0px 0px 20px 2px rgb(176, 176, 176);
}

.price-ratting {
  width: 95%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-direction: row;
}

.menuitem-paper img {
  height: 170px;
  width: 95%;
  max-width: 300px;
  max-height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 5px 20px 2px rgb(96, 95, 95);
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.menuitem-image{
   width: auto;
   height: 100px;
   overflow: hidden;
   object-fit: cover;
}
/* biil style end */